<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/06.layout.css">
    <title>Layout 06</title>
</head>
<body>

    <div class="grid-container">
        <div class="acima">pop-up</div>    
        <div class="banner">banner</div>
        <div class="titulo">titulo</div>
        <div class="lateral1">lateral1</div>
        <div class="esquerda1">esquerda1 </div>
        <div class="centro1">barra titulo</div>
        <div class="centro2">centro2</div>
        <div class="barra1">barra titulo</div>
        <div class="lateral2">lateral2       
        </div>
        <div class="foto1">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="foto2"> 
            <div></div>
            <div></div>
            <div></div>
            <div></div>
           
        </div>
        
        
        <div class="foto3">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
    
</body>
</html>