:root{
    --color-header: #E63CA7;
    --color-banner: #EE35FC;
    --color-titulo: #B033F2;
}

*{
   margin:0;
   box-sizing: border-box;
   
  
}

body{
    width: 90%;
    border: 2px solid var(--color-titulo);
    margin: 0 auto;
    margin-top: 1em;
}


.grid-container{
    display:grid;
    height:100vh;
    width:100%;
    grid-template-areas:
                        "header header header"
                        "esquerda centro direita"
                        "btn-esquerda btn-centro btn-direita";
    grid-template-rows: 2fr 2.5fr .2fr;
}




header{
    grid-area:header;
    background-color: var(--color-header);
    margin:1.5em;
    margin-bottom: 6em;
    border-radius: 5px;
    
}


.banner{
    height: 110%;
    background-color: var(--color-banner);
    margin:3em;
    z-index: 2;
    border-radius: 5px;
}

.esquerda{
    grid-area: esquerda;
}

.centro{
    grid-area: centro;
}


.direita{
    grid-area: direita;
}

.esquerda, .centro, .direita{
    display: grid;
    grid-template-areas: "titulo" "conteudo";
    grid-template-rows: 1fr 6fr;
    margin: 1em 1.5em 1.5em 1.5em;
    border: 1px solid var(--color-banner);
    border-radius: 5px;
  
}

.titulo{
    grid-area:titulo;
    background-color:var(--color-titulo);
}

.conteudo{
    grid-area:conteudo;
    display: grid;
    grid-template-areas: "titulo" "conteudo";
    grid-template-rows: 1fr 7fr;
}

.btn-esquerda{
    grid-area: btn-esquerda;
}


.btn-centro{
    grid-area: btn-centro;
}


.btn-direita{
    grid-area: btn-direita;

}

.btn-esquerda, .btn-centro, .btn-direita{
    display: grid;
    grid-template-areas:  "btn coluna";
    grid-template-columns: .7fr 2fr;
    margin: 0 1.5em;

}

.btn{
    grid-area: btn;
    background-color: var(--color-titulo);
    border-radius: 5px;
}

.coluna{
    grid-area:coluna;
}


@media (max-width:480px){
    .grid-container{
        display:grid;
        height:100vh;
        width:100%;
    
        grid-template-areas:
                            "header"
                            "esquerda"
                            "btn-esquerda"
                            "centro" 
                            "btn-centro" 
                            "direita"
                            "btn-direita";
        
        grid-template-rows: 2fr 3fr .3fr 3fr .3fr 3fr .3fr;
        }
    header{
        margin-bottom: 1.5em;
    }

    .banner{
        visibility: hidden;
    }

}


